

<h1>Volunteer at KTPH</h1>
<p>Khoo Teck Puat Hospital offers a variety of opportunities for members of the public to volunteer their services to patients and their families.</p>
<div class="container">
  <h2>Volunteer Opportunities</h2>
  <p>Click on each opportunity to see more details.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Activities around the Hospital</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gardening Club</td>
        <td><button [routerLink]="['/opp',1]">View details</button></td>
      </tr>
      <tr>
        <td>ABLE Studio Ambassador</td>
        <td><button [routerLink]="['/opp',2]">View details</button></td>
      </tr>
      <tr>
        <td>Advance Care Planning (ACP)</td>
        <td><button>View details</button></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Patient Related Activities</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sitter</td>
        <td><button>View details</button></td>
      </tr>
      <tr>
        <td>Inpatient Mobile Library Team</td>
        <td><button>View details</button></td>
      </tr>
      <tr>
        <td>Rehab Care</td>
        <td><button>View details</button></td>
      </tr>
    </tbody>
  </table>
</div>